$lgrey: #8c8c9b;
$dgrey: #585862;


// Background Gradient: Top to Bottom
@mixin bg-gradient-t2b($start-colour, $end-colour) {
  background-color: $start-colour;
  background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
  background-image: -webkit-linear-gradient(to bottom, $start-colour, $end-colour);
  background-image:    -moz-linear-gradient(to bottom, $start-colour, $end-colour);
  background-image:     -ms-linear-gradient(to bottom, $start-colour, $end-colour);
  background-image:      -o-linear-gradient(to bottom, $start-colour, $end-colour);
  background-image:         linear-gradient(to bottom, $start-colour, $end-colour);
  filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}');
}


@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}


html {
  width: 100%;
  height: 100%;
  @include bg-gradient-t2b($dgrey, $lgrey);
  color:white;
}

input {
   color:black;
}


button {
  color:black;
}
#sign-body{
  h1{
  text-align: center;
  }
}
#sign-views {
  @include center-children
}