<div class="side-panel" ng-init="tab = 1">
    <div id="profile-name-block">
        <h2>{{userData.fullName || userData.username}}</h2>
    </div>
    <img id="profile-pic" src={{userData.userImg}}>
    <ul id="profile-tabs">
        <a href ng-click="tab = 1" ng-class="{'selected-tab': tab == 1}">
            <li><span>{{comp}}</span>
                <br>COMPLETED
                <br><i class="fa fa-circle" ng-show="tab === 1"></i></li>
        </a>
        <a href ng-click="tab = 2" ng-class="{'selected-tab': tab == 2}">
            <li><span>{{ans}}</span>
                <br>ANSWERED
                <br><i class="fa fa-circle" ng-show="tab === 2"></i></li>
        </a>
        <a href ng-click="tab = 3" ng-class="{'selected-tab': tab == 3}">
            <li><span>{{pend}}</span>
                <br>PENDING
                <br><i class="fa fa-circle" ng-show="tab === 3"></i></li>
        </a>
    </ul>
    <div class="profile-request-panel" ng-show="tab === 1">
        <h4>Completed</h4>
        <ul>
            <li ng-repeat="completed in userData.requests | orderBy: 'message.created':true" ng-if="completed.inQueue === false">{{completed.message.title}}</li>
        </ul>
    </div>
    <div class="profile-request-panel" ng-show="tab === 2">
        <h4>Answered</h4>
        <ul>
            <li ng-repeat="answered in userData.filledRequests | orderBy: 'message.created':true">{{answered.message.title}}</li>
        </ul>
    </div>
    <div class="profile-request-panel" ng-show="tab === 3">
        <h4>Pending</h4>
        <ul >
            <li ng-repeat="pending in userData.requests | orderBy: 'message.created':true" ng-if="pending.inQueue === true">{{pending.message.title}}</li>
        </ul>
    </div>
</div>

