<div id='new-request-modal'>
    <div id="overlay">
        <a href ng-click="close()"><i class="xclose fa fa-times"></i></a>
            <form id="new-request-form" name="requestForm" ng-submit="submitRequest()">
        <div>
            <label>
                Title
                <input ng-model="title" type="text" name="title" />
            </label>
        </div>
        <div>
            <label>
                Comment
                <input ng-model="description" type="textarea" name="description" />
            </label>
        </div>
        <div class="request-upload-panel" ng-show="upload == 'none'">
            <ul>
                <a href ng-click="upload = 'image'">
                    <li>Upload Photo</li>
                </a>
                <a href ng-click="upload = 'voice'">
                    <li>Record Voice Note</li>
                </a>
            </ul>
        </div>
        <div class="request-upload-panel" ng-show="upload == 'image'">
            <button ngf-select name="image" ng-model="image" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                Select Picture
            </button>
            <div>
                <img ngf-thumbnail="image" ngf-size="{height: 200, quality: 0.9}">
            </div>
            <span class="progress" ng-show="progress >= 0">
                <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                </span>
            <span ng-show="result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
        <div class="request-upload-panel" ng-show="upload == 'voice'">
            <a href ng-click="startRecording()">Start</a>
            <a href ng-click="stopRecording()">Stop</a>
            <div ng-if='recordingDone'>
                <audio ng-src={{audioRecording}} controls>
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div ng-if='recording'>
                <i class="fa fa-microphone recording-in-progress"></i>
                <timer interval="1000">{{mminutes}}:{{sseconds}}</timer>
            </div>
             <span class="progress" ng-show="progress >= 0">
                <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
            </span>
            <span ng-show="result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
        <div>
            <input id="form-button" type="submit" value="Submit Request" />
        </div>
    </form>
    </div>
    <div id="fade"></div>
</div>
