<div id='new-request-modal' ng-init="upload = 'image'">
    <div id="overlay">
        <a href ng-click="close()"><i class="xclose fa fa-times"></i></a>
            <form id="new-request-form" name="requestForm" ng-submit="submitRequest()">
        <div>
            <label>
                Title
                <input ng-model="title" type="text" name="title" />
            </label>
        </div>
        <div>
            <label>
                Comment
                <input ng-model="description" type="textarea" name="description" />
            </label>
        </div>
        <div class="request-upload-panel">
            <button ngf-select name="image" ng-model="image" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                Select Picture
            </button>
            <div>
                <img name="previewThumb" ng-model="previewThumb" id="previewThumb" ngf-thumbnail="image" ngf-size="{height: 300, quality: 0.9}">
            </div>
            <span class="progress" ng-show="progress >= 0">
                <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                </span>
            <span ng-show="result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
        <div>
            <input id="form-button" type="submit" value="Submit Request" />
        </div>
    </form>
    </div>
    <div id="fade"></div>
</div>
