html {
  width: 100%;
  height: 100%;
  background-color: #585862;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#585862), to(#8c8c9b));
  background-image: -webkit-linear-gradient(to bottom, #585862, #8c8c9b);
  background-image: -webkit-linear-gradient(top, #585862, #8c8c9b);
  background-image: linear-gradient(to bottom, #585862, #8c8c9b);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#585862', end-colourStr='#8c8c9b');
  color: white; }

input {
  color: black; }

button {
  color: black; }

#sign-body h1 {
  text-align: center; }

#sign-views {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
