<div class="signup-step">
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle page-off"></i>
	<p>Welcome to Parakeet!</p>
	<p>Which language do you speak?</p>
</div>

<div class="signup-lang-menu">
    <ul>
        <li ng-click="signUpTwo('English')"><span>English</span></li>
        <li ng-click="signUpTwo('French')"><span>French</span></li>
        <li ng-click="signUpTwo('German')"><span>German</span></li>
        <li ng-click="signUpTwo('Italian')"><span>Italian</span></li>
        <li ng-click="signUpTwo('Russian')"><span>Russian</span></li>
        <li ng-click="signUpTwo('Spanish')"><span>Spanish</span></li>
    </ul>
</div>
