<div>
	<p>Welcome to Parakeet!</p>
	<p>Which language do you speak?</p>
</div>
<div>
    <span class="dot dot1"></span>
    <span class="dot dot2"></span>
</div>
<div>
    <ul>
        <li ng-click="signUpTwo('English')">English</li>
        <li ng-click="signUpTwo('French')">French</li>
        <li ng-click="signUpTwo('German')">German</li>
        <li ng-click="signUpTwo('Italian')">Italian</li>
        <li ng-click="signUpTwo('Russian')">Russian</li>
        <li ng-click="signUpTwo('Spanish')">Spanish</li>
    </ul>
</div>
