<h1><a href="#/">Parakeet</a></h1>

<div class='signup-message'>{{message}}</div>
<form autocomplete="off" class="sign-form" name='signUp1' ng-submit="signUpOne()">
    <div>
        <i class="fa fa-user"></i>
        <input required type="text" name="username" placeholder="Username" ng-model="newUser.username" />
    </div>
    <div>
        <i class="fa fa-envelope"></i>
        <input required type="email" name="email" placeholder="Email" ng-model="newUser.email" />
        <div ng-show="signUp1.email.$touched">
            <span class="signup-message" ng-show="signUp1.email.$error.email">Not a valid email address!</span>
        </div>
    </div>
    <div>
        <i class="fa fa-lock"></i>
        <input required type="password" name="password" placeholder="Password" ng-model="newUser.password" ng-minlength="6" />
        <div ng-show="signUp1.password.$touched">
            <span class="signup-message" ng-show="signUp1.password.$error.minlength">Password should be at least 6 characters!</span>
        </div>
    </div>
    <div>
        <input id="form-button" type="submit" value="Sign Up" />
    </div>
</form>
<a class="facebook-button" href="/oauth/facebook"><span>Facebook Connect</span></a>
