<div class="signup-step">
    <i class="fa fa-circle page-off"></i>
    <i class="fa fa-circle"></i>
	<p>Great!</p>
	<p>Which language are you learning?</p>
</div>

<div class="signup-lang-menu">
    <ul>
        <li ng-click="signUpThree('English')"><span>English</span></li>
        <li ng-click="signUpThree('French')"><span>French</span></li>
        <li ng-click="signUpThree('German')"><span>German</span></li>
        <li ng-click="signUpThree('Italian')"><span>Italian</span></li>
        <li ng-click="signUpThree('Russian')"><span>Russian</span></li>
        <li ng-click="signUpThree('Spanish')"><span>Spanish</span></li>
    </ul>
</div>
