doctype html
html(lang="en" ng-app='squawker')
	head
		title= title
		link(href='/css/normalize.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
	body(id="sign-body")
	div(id="sign-views")
		section(ng-view)
	script(type="text/javascript", src="/lib/angular/angular.js")
	script(type="text/javascript", src="/lib/angular-route/angular-route.js")
	script(type="text/javascript", src="/lib/angular-cookies/angular-cookies.js")

	script(type="text/javascript", src="/users/users.client.module.js")
	script(type="text/javascript", src="/users/controllers/users.client.controller.js")
	script(type="text/javascript", src="/users/config/users.client.routes.js")
	script(type="text/javascript", src="/users/services/users.client.service.js")
	script(type="text/javascript", src="/main/main.client.module.js")

	script(type="text/javascript", src="/application.js")
